<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body id="body">
    <%- include('./partials/nav.ejs') %>
      <article class="post">
        <div class="info">
          <span><%= post.createdAt.toLocaleDateString() || 'No date' %></span>
          <span><%= post.author %></span>
        </div>
        <p>
          <%= post.text %>
        </p>
        <p>
          <%= post.title %>
        </p>


        <div class="wrapper__trash">
        <button class="btn-delete" data-id="<%= post.id %>">
          <i class="fas fa-trash-alt" data-id="<%= post.id %>"></i>
        </button>
        <a href="/edit/<%= post.id %>" class="btn-edit">
          <i class="fas fa-edit"></i>
        </a>
      </div>

      </article>
      <h2 class="otzivi">Отзывы
      </h2>
      <ul class="wrapper__list-group">
        <% post.review.forEach(({ name, reviewMessage, mark}) => { %>
          <li class="list-group-item">
            <article>
              <div class="info">
                <span><%= name %></span>

                <span class="date_review"><%= post.createdAt.toLocaleDateString() || 'No date' %></span>

              </div>
              <p class="review_text">
                <%= reviewMessage %>
              </p>

              <p class="mark" id="mark">
                <%= mark %>
              </p>

            </article>
          </li>
          <% }) %>
      </ul>

      <div class="container">
        <form class="review_wrapper" id="post-review" method="post" action="/posts/<%= post.id %>?_method=post">
          <div class="form-info">
            <label>Имя
                        <input type="text" name="name">
                      </label>
            <label>Оценка
                        <input type="text" name="mark">
                      </label>
          </div>
          <div class="form-text">
            <label>Отзыв
                        <textarea name="reviewMessage"></textarea>
                      </label>
          </div>
          <div class="form-button button-review">
            <input type="submit" value="Оставить отзыв">
          </div>
        </form>
      </div>


      <script>
        document.addEventListener('click', (e) => {
          const id = e.target ?.dataset ?.id || null;
          if (id) {
            fetch(`/posts/${id}`, {
              method: 'DELETE',
            }).then(() => {
              window.location.href = '/posts';
            });
          }
        });
      </script>
      <script>
        let el = body.getElementsByTagName("p")
        for (let e of el) {
          if (e.textContent == '' * 32) {
            e.innerHTML = "Нет оценки";
          }
        }
      </script>
  </body>1

</html>